<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simple Sidebar - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'index/css/simple-sidebar.css' %}" rel="stylesheet">

    {% endblock %}

    {% block css %}
    {% endblock %}

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Rate My Co-op</div>
        <div class="list-group list-group-flush">
            <a href="{% url "index:manager" %}" class="list-group-item list-group-item-action bg-light">My Positions</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                <li class="nav-item">
                    <span class="navbar-text mr-3">
                        Mark Zuckerberg
                    </span></li>
                <li class="nav-item"><a class="btn btn-secondary" href="{% url "index:index" %}" style="margin-right: 1vw">Log out</a></li>

            </ul>


        </nav>
        {% block bodypage %}
        {% endblock %}

    </div>
    <!-- /#page-content-wrapper -->

</div>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="{% static 'index/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% block js %}
{% endblock %}
</body>

</html>
