{% extends 'manager_base.html' %}

{% block head %}
    <style>
    .keyword-btn {
        margin-right: 0.8em;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        font-weight: 400;
        font-size: 1rem;
        border: 1.8px solid  rgb(118, 118, 118);
        padding: .375rem .75rem;
        line-height: 1.5;
        border-radius: .25rem;
    }

    .keyword-btn:hover {
        background-color: #e8e8e8;
    }

    .kr-view {
        padding-bottom: 1rem;
        margin: 3rem;
        background-color: #f2f2f2;
        max-width: 550px;
    }
    .kr-view ul {
        list-style-type: none;
        overflow: hidden;
        display: inline-flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .rating-btn {
        display: flex;
        margin-top: 1em;
        margin-right: 0.8em;
        flex-direction: column;
        background-color: #fff;
        font-weight: 400;
        font-size: 1.7em;
        border: 2px solid  rgb(118, 118, 118);
        padding: .375rem .75rem;
        line-height: 1.5;
        border-radius: .25rem;
    }

    .rating-btn:hover {
        background-color: #e8e8e8;
    </style>
{% endblock %}

{% block css %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/simple-sidebar.css' %}" rel="stylesheet">

{% endblock %}

{% block bodypage %}
    <div class="d-flex" id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">


                <!-- Head -->
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn btn-secondary mt-4 mb-5" href="{% url "index:manager" %}"> <- Back</a>
                    </div>
                    <div >
                        <h2 class="text-center mt-4 mb-5">Software Developer at Facebook</h2>
                    </div>
                    <div >
                        <div class="rating-btn ">Rating: 4.8/5</div>
                    </div>
                </div>

                <!-- Keyword -->

                <div>
                    <h5>Keywords:</h5>
                    <div class="d-flex justify-content-start mb-3 mt-3">
                        <div class="keyword-btn">Great Teamwork</div>
                        <div class="keyword-btn">Engineering</div>
                        <div class="keyword-btn">High Responsibility</div>
                        <div class="keyword-btn">High Salary</div>

                    </div>
                </div>


                <!-- Key Ratings -->


                <div>
                    <h5 class="mb-4">Key ratings:</h5>
                    <div class="kr-view">
                        <div>
                        <ul>
                            <li class="kr-table-left mr-5">
                                <p class="text-center">Pro's</p>
                                <table class="table table-hover" >
                                  <tbody>
                                  <tr>
                                      <td scope="col">Responsibility:</td>
                                      <td scope="col">5.0/5</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Team Work:</td>
                                      <td>4.9/5</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </li>
                            <li class="kr-table-right ml-2">
                                <p class="text-center">Cons's</p>
                                <table class="table table-hover">
                                  <tbody>
                                  <tr>
                                      <td scope="col">Inclusivity:</td>
                                      <td scope="col">4.0/5</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Diversity:</td>
                                      <td>3.5/5</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </li>
                        </ul>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample"
                                    role="button" aria-expanded="false" aria-controls="collapseExample">More Ratings</button>
                        </div>


                        <div class="collapse" id="collapseExample">
                          <div>
                             <h6 class="text-center mt-3">All Categories</h6>
                                <ul>

                                <li class="kr-table-left mr-5">

                                    <table class="table table-hover" >
                                      <tbody>
                                      <tr>
                                          <td scope="col">Responsibility:</td>
                                          <td scope="col">5.0/5</td>
                                        </tr>
                                        <tr>
                                          <td scope="row">Compensation:</td>
                                          <td>5.0/5</td>
                                        </tr>
                                      <tr>
                                          <td scope="row">Benefits:</td>
                                          <td>5.0/5</td>
                                        </tr>
                                      <tr>
                                          <td scope="row">Teamwork:</td>
                                          <td>4.9/5</td>
                                        </tr>
                                      <tr>
                                          <td scope="row">Supervisors:</td>
                                          <td>4.5/5</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </li>
                                <li class="kr-table-right ml-2">
                                    <table class="table table-hover">
                                      <tbody>
                                      <tr>
                                          <td scope="col">Growth Opportunity:</td>
                                          <td scope="col">4.8/5</td>
                                        </tr>
                                        <tr>
                                          <td scope="row">Culture:</td>
                                          <td>n/a</td>
                                        </tr>
                                      <tr>
                                          <td scope="row">Working Hours:</td>
                                          <td>4.3/5</td>
                                        </tr>
                                      <tr>
                                          <td scope="row">Inclusivity:</td>
                                          <td>4.0/5</td>
                                        </tr>
                                      <tr>
                                          <td scope="row">Diversity:</td>
                                          <td>3.5/5</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                        </div>


                    </div>

                </div>


                <!-- Individual Ratings -->

                <div>
                    <h5 class="mb-4">Individual Ratings:</h5>

                    <table class="table table-bordered table-striped mb-5" style="border-collapse: collapse">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Rating</th>
                      <th scope="col">Comment</th>
                      <th scope="col">Term</th>
                        <th scope="col">More Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>5 stars</td>
                      <td>I had the most amazing experience learning from great minds at Facebook! Great Co-op!</td>
                      <td>Fall 2019</td>
                        <td>Read More</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>4 stars</td>
                      <td>Overall great experience! I learned a lot, great mentors but sometimes too uptight.</td>
                      <td>Spring 2017</td>
                        <td>Read More</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>5 stars</td>
                      <td>I had lots of fun and learned a lot. I can only recommend it!</td>
                      <td>Fall 2018</td>
                        <td>Read More</td>
                    </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td>5 stars</td>
                      <td>It couldn't have been better. If you get the chance to do this co-op don't hesitate!</td>
                      <td>Spring 2018</td>
                        <td>Read More</td>
                    </tr>
                  </tbody>
                </table>
                </div>



            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}