{% extends 'student_base.html' %}

{% block head %}
{% endblock %}

{% block css %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/simple-sidebar.css' %}" rel="stylesheet">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        {##}
        {#tr:nth-child(even) {#}
        {#    background-color: #dddddd;#}
        {
        #}#}
    </style>

{% endblock %}

{% block bodypage %}
    <div class="d-flex" id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <form method="post">
                    {% csrf_token %}
                    <div class="inner-form">
                        <div class="input-field first-wrap">
                            <input id="search_keys" type="text" name="search_keys" maxlength="1000"
                                   placeholder="What are you looking for?"
                                   required>
                            <button class="btn-search" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <th>Rank</th>
            <th>Position</th>
            <th>Company</th>
            <th>Rating</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Data Scientist</td>
            <td>WayFair</td>
            <td>4.9/5</td>
        </tr>
        <tr>
            <td>2</td>
            <td>PT Co-op</td>
            <td>PT Arlington</td>
            <td>4.7/5</td>
        </tr>
        <tr>
            <td>3</td>
            <td>UX/UI Design Co-op</td>
            <td>NetBrain</td>
            <td>4.7/5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Accounting Co-op</td>
            <td>Power Advocate</td>
            <td>4.5/5</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Mechanical Engineering Co-op</td>
            <td>HighRes Biosolutions</td>
            <td>4.2/5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Software Engineering Co-op</td>
            <td>ASICS</td>
            <td>4.1/5</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Marketing Analyst</td>
            <td>YCharts</td>
            <td>4.0/5</td>
        </tr>
    </table>
    <!-- /#page-content-wrapper -->
{% endblock %}

{% block js %}
{% endblock %}